body {
  font-family: Arial, sans-serif;
  background-color: #1c1c1e;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #f4f4f9; /* Цвет текста */
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 20px;
  padding: 20px;
  background-color: #2c2c2e;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  text-align: center; /* Центрирование содержимого */
}

.Card {
  background-color: #3a3a3c;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.Card b {
  display: block;
  font-size: 1.1em;
  margin-bottom: 10px;
  color: #f4f4f9;
}

.Hint {
  background-color: #48484a;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  height: 24px;
  color: #f4f4f9;
}

.TonConnectButton {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.Actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
}

.input-field {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #444;
  border-radius: 4px;
  background-color: #333;
  color: #f4f4f9;
  width: 100px;
}
.action-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
  color: white;
  background-color: #007bff;
}

.action-button:hover {
  background-color: #0056b3;
  color: black;
}

.action-button:active {
  background-color: #00408b;
}

.increment-button {
  background-color: #28a745;
}

.increment-button:hover {
  background-color: #218838;
  color: black;
}

.increment-button:active {
  background-color: #1e7e34;
}

.deposit-button {
  background-color: #ffc107;
}

.deposit-button:hover {
  background-color: #e0a800;
  color: black;
}

.deposit-button:active {
  background-color: #c69500;
}

.withdrawal-button {
  background-color: #dc3545;
  margin-bottom: 20px;
}

.withdrawal-button:hover {
  background-color: #c82333;
}

.withdrawal-button:active {
  background-color: #bd2130;
}
